name: Rust Format

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # We need to fetch the full history to correctly identify changed files.
          fetch-depth: 0

      - name: Get changed Rust files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: "**/*.rs"

      - name: Install rustfmt
        if: steps.changed-files.outputs.any_changed == 'true'
        run: rustup component add rustfmt

      - name: Check formatting on changed files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: rustfmt --check ${{ steps.changed-files.outputs.all_changed_files }}
